body
{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_title
{
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
}


.header-content
{
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.header_Logo
{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;

}
.header_nav ul
{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;

}
.header_nav a
{
    color:white;
    text-decoration: none;
    padding:14px;
    border-radius: 15%;
}
a.header_nav--active
{
    background-color: #cbe300;
    color:#0c1014;
    pointer-events:none;
}
.header_nav a:hover
{
    text-decoration: underline;
}

.pricing{
    display: flex;
    gap: 16px;
}
.pricing-plan
{
    flex:1;
    background-color: #1f262c;
    padding:30px;
    border-radius: 5%;
    box-shadow: 0 5px 15px -2px black;
    display:flex;
    flex-direction: column;
}
.class-pricing-plan__title
{
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.pricing-plan__price-content
{ 
    margin-top: 0;
}
.pricing-plan__price
{
    font-size: 33px;
}

.pricing-plan__features
{
    margin-right: 0 0 35px;
    color: #b5b5b5;
    padding-left: 16px;
    line-height: 1.8;
    flex-grow: 1;
}
.pricing-plan__features li::marker
{
    color:#cbe300;
}
.pricing-plan__cta
{
    text-decoration: none;
    color: #0c1014;
    background-color: #cbe300;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    text-align: center;
}
.pricing-plan__cta:hover
{
    outline: 2px solid #cbe300;
    background-color: transparent;
    color: #b5b5b5;
    text-decoration: underline;
}